<template>
  <div class="loading">
    Model is loading...
    <img src="../assets/timer.svg" alt="Loading timer icon" />
  </div>
</template>
<style lang="scss" scoped>
.loading {
  height: calc(100vh - 100px);
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 50px;
    margin-left: 15px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>