<template>
  <div class="container mx-auto mt-6">
    <loading v-if="!isModelLoaded" />
    <div class="content columns flex items-start" v-show="isModelLoaded">
      <div class="upload-wrapper p-2 rounded" :class="img ? 'w-2/5' : 'w-full'">
        <div class="image-wrapper flex flex-col justify-center" v-show="img">
          <div class="w-full text-center flex justify-center">
            <img ref="imageEl" alt="Uploaded image" :src="img" />
          </div>
          <div class="flex flex-col items-center">
            <div class="results" v-for="(result, idx) in results" :key="idx">
              {{ result.label }}
              {{ result.confidence }}%
            </div>
          </div>
        </div>
        <div class="file has-name is-boxed">
          <label class="file-label flex flex-col items-center">
            <input class="file-input hidden" type="file" name="uploadImage" @change="uploadImage" />
            <span class="file-cta">
              <span class="file-icon">
                <img src="./assets/_ionicons_svg_md-cloud-upload.svg" alt="Upload icon" />
              </span>
              <span class="file-label" v-show="!img">
                Choose a file...
              </span>
            </span>
            <span class="file-name">
              {{ imgName }}
            </span>
          </label>
        </div>
      </div>
      <div class="result-wrapper column w-3/5 ml-3" v-if="img && results.length">
        <div class="giphy-wrapper">
          <div class="giphy-wrapper w-full mb-3 last:mb-0 flex flex-col items-center justify-center" v-show="loadingIcon">
            <img src="./assets/timer.svg" alt="loading gif" />
          </div>
          <div class="giphy-wrapper w-full mb-3 last:mb-0 flex flex-col items-center justify-center" v-for="(result, idx) in results" :key="idx">
            <img :src="result.giphy" :alt="result.alt" />
            <a :href="result.giphyUrl">via GIPHY</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
import classifier from "./@uses/classifier";
import Loading from './components/Loading.vue';

export default {
  components: {
    Loading
  },
  setup() {
    const { isModelLoaded, results, init, classify, loadingIcon } = classifier();
    const imageEl = ref(null);
    const img = ref('');
    const imgName = ref('Upload an image to start');
    const uploadImage = (event) => {
      const _image = event.target.files[0];
      const reader = new FileReader();
      imgName.value = event.target.files[0].name;
      reader.readAsDataURL(_image);
      reader.onload = (e) => {
        img.value = e.target.result;
        classify(imageEl.value);
      }
    }
    onMounted(() => { init() });
    return { isModelLoaded, results, loadingIcon, imgName, img, uploadImage, imageEl }
  }
}
</script>

<style lang="scss" scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  .content {
    margin: 0;
    // height: calc(100vh - 100px);
  }
  .result-wrapper {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    .giphy-wrapper {
      // max-width: 80%;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      img {
        width: 200px;
        height: auto;
        object-fit: contain;
      }
    }
  }
  .upload-wrapper {
    background-color: #00c4a7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .image-wrapper {
      width: 70%;
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border: 10px double #e8e8e8;
      padding: 5px;
      margin-bottom: 20px;
      img {
        width: 200px;
        height: auto;
        object-fit: contain;
      }
    }
    .file-name {
      text-align: center;
    }
    .file-icon {
      img {
        width: 100px;
      }
    }
  }
}
</style>
